# editorconfig.org
root = true #This is the top most editorconfig file

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# You should be able to create an .editorconfig with a personalized tab indention size in a parent directory.
# indent_size = 4

[*.py]
indent_style = space

[*.md]
indent_style = space
trim_trailing_whitespace = false

# YAML 2-space indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2
